.inputs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr  ;
}

.x{
    margin-left: auto;
    margin-right: auto;
}


/* .dialogPaper {
    min-height : 80vh;
    max-height: 80vh;    
}

.inputs{
height: 250px;
width: 150px;
text-align: center;
}

.InputLabel{
    margin-left: auto;
    margin-right: auto;
} */
