.inputs{
    /* display: grid;
    grid-template-rows: fr 1fr 1fr  ; */
    width: 50%;
    text-align: center;
    padding-left: 150px;
}
.root{
          width: '80%';
          margin : 20px
}
.TextField{
    margin: 100px;
}

.DialogTitle{
    text-align: center;
}


.Buttons{
    column-gap: normal;
    text-align: center;
    margin-right: 10px;
}