/* .addProcess{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 5px;
} */

/* button{
    border-radius: 999px;
    background-color: #ff96aa;
    color: #FFFFFF;
    box-shadow: #ff96aa 0 10px 20px -10px;
    margin: 5px;
} */

/* input{
    border-radius: 999px;
    margin: 5px;
}
select{
    border-radius: 999px;
    margin: 5px;
} */

/* .b{
    border-radius: 999px;
    margin: 5px;
} */