@media only screen and (min-width: 800px) {
    .all-statistics {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.statistics {
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(198 202 209 / 80%);
}

.charts {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.question {
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(198 202 209 / 80%);
}

#sub-header {
    background-color: rgb(249 251 251);
}

#main-header {
    background-color: rgb(204 221 243);
}

.page {
    margin: auto 10%;
}

h1 {
    margin: auto 10%;
    margin-bottom: 15px;
}