.FormControl {
    Width: 100;
}

.Filter {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 40%;
}

.Select {
    margin-left: 20px;
    padding: 20px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}