.navBar-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color: #426696;
}

h2 {
    display: inline;
    vertical-align: middle;
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.logoButtons {
    justify-self: end;
    justify-content: center;
}

.logoButtons button {
    margin: 15px;
}