.navBar-Container {
    display: grid;
    grid-template-columns: 1fr 2fr 10fr;
    background-color: #426696;
    height: 70px;
    justify-items: center;
}

h2 {
    display: inline;
    vertical-align: middle;
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.nav-Buttons {
    justify-self: end;
    justify-content: center;
    padding: 17px;
}