.Process {
    background-color: rgb(241, 243, 243);
    box-shadow: 5px 5px 5px 5px rgb(198 202 209 / 80%);
    padding: 20px;
    margin: 20px;
}

.mdc-card {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr;
    text-align: center;
}

.process-sub {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.interviews-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 20px;
}

.icon {
    font-size: 18;
}