.questions {
    margin: auto 10%;
}

h1 {
    margin-bottom: 15px;
}

.form {
    margin: auto 10%;
    display: flex;
    flex-flow: row;
    column-gap: 15px;
}

.table-header {
    margin: auto 10%;
}