.status1 {
    font-weight: bold;
    font-size: 0.75rem;
    color: white;
    /* background-color: gray; */
    border-radius: 8px;
    padding: 3px 10px;
    display: inline-block;
}

.name {
    font-weight: bold;
    color: #ff96aa;
}

.avatar {
    color: aqua;
    background-color: aqua;
}

.TableContainer {
    /* max-width: 950; */
    border-radius: 15;
    /* margin: 10px 10px; */
}

.table {
    min-width: 650;
}

.tableHeaderCell {
    color: #426696;
    background-color: #426696;
    font-weight: 'bold',
}