.Start-Working {
    text-align: center;
    color: green;
}

.user-home-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.processContainer {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.page {
    margin: auto 10%;
}

h1 {
    margin: auto 10%;
    margin-bottom: 15px;
}